<div *ngIf="Restaurant">
    <div class="container">
        <section class="mx-auto my-5" style="max-width: 23rem;">
            
          <div class="card testimonial-card mt-2 mb-3">
            <div class="card-up aqua-gradient"></div>
            <div class="avatar mx-auto white">
              <img src="{{Restaurant.photoUrl}}" class="rounded-circle img-fluid"
                alt="woman avatar">
            </div>
            <div class="card-body text-center">
              <h4 class="card-title font-weight-bold">{{Restaurant.name}}</h4>
              <hr>
              <div class="location">
                <p>Locations</p>
                <ul >
                  <li *ngFor="let city of Restaurant.cities">
                          {{city.name}}
                  </li>
                </ul>
              </div>
              <hr>
              <div class="meals">
                <p>Meals</p>
                <ul >
                  <li *ngFor="let meal of Restaurant.meals">
                        <img src="{{meal.photoUrl}}" alt="" class="photo">
                        <h6>{{meal.name}}</h6>
                        <p>{{meal.description}}</p>
                        <div class="timing">
                            <p>Preparation timing</p>
                            <p>{{meal.duration}}</p>
                        </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          
        </section>
      </div>
</div>
